@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                <h3>List of Movies</h3>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Movies.Controllers.MoviesController.movies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => movie.Title)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = movie.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = movie.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = movie.Id })
                </td>
            </tr>
        }
        <tr>
            <td>
                @Html.ActionLink("Create new", "Create")
            </td>
            <td></td>
        </tr>
    </tbody>
</table>